body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-card {
    width: 300px;
}

.image-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}